# API base URLs 

NEXT_PUBLIC_API_USER_URL=https://approval-insights-instantly-insert.trycloudflare.com
NEXT_PUBLIC_API_JASA_URL=https://electricity-valid-winter-specially.trycloudflare.com
NEXT_PUBLIC_API_ORDER_URL=https://pine-approaches-dude-tomorrow.trycloudflare.com
NEXT_PUBLIC_API_PAYMENT_URL=https://category-monte-plain-here.trycloudflare.com

NEXT_PUBLIC_USE_PROXY=false      
NEXT_PUBLIC_APP_URL=https://fe-percetakan.vercel.app

# NEXT_PUBLIC_API_USER_URL=http://localhost:8080
# NEXT_PUBLIC_API_JASA_URL=http://localhost:8081
# NEXT_PUBLIC_API_ORDER_URL=http://localhost:8082
# NEXT_PUBLIC_API_PAYMENT_URL=http://localhost:8083

# NEXT_PUBLIC_USE_PROXY=true
# NEXT_PUBLIC_APP_URL=https://towards-sunglasses-cleaner-yeah.trycloudflare.com



#   NEXT_PUBLIC_USE_PROXY=true    
#   NEXT_PUBLIC_APP_URL=https://organizer-temperatures-cfr-phantom.trycloudflare.com

# NEXT_PUBLIC_USE_PROXY=true
# NEXT_PUBLIC_APP_URL=https://variative-giuseppe-duly.ngrok-free.dev



